@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;

}
/* Div principal que define a imagem de fundo para a seção inicial. */
.divfrontimg{
    background-image: url(css/images/altosurubi1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
}
/* Sobreposição escura semitransparente sobre a imagem de fundo. */
.divbackimg{
    background-color: rgba(0, 0, 0, 0.747);
    height: auto;
    width: 100%;

}
/* Menu de navegação principal com itens centralizados horizontalmente. */
.menu{
    width: 100%;
    color: white;
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;

}
/* Estilo de cada item do menu, com espaçamento e tamanho da fonte. */
.itemMenu{
    margin: 15px 30px 15px 30px;
    cursor: pointer;
    font-size: 20px;
    list-style-type: none;
    transition: 0.5s ease;

}
/* aumenta o tamanho e troca a cor ao passar o cursor */
.itemMenu:hover{
    color: #007bff;
    transform: scale(1.2);
}
/* Remove o estilo padrão dos links e define o cursor como clicável. */
a{
    all: unset;
    cursor: pointer;
}
/* Cabeçalho fixo no topo da página com fundo transparente. */
.header1{
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;
    height: 50px;
    background-color: #007bff10;
    backdrop-filter: blur(5px);
    

}
/* Títulos grandes com alinhamento e espaçamento para destaque. */
.tit{
    padding-left: 70px;
    padding-top: 200px;
    color: white;
    font-size: 90px;
    display: flex;
    position: relative;
    align-items: center;
}
/* Estilo para textos explicativos com espaçamento e largura definidos. */
.txt{
    font-size: 17px;
    padding-top: 40px;
    padding-left: 70px;
    color: white;
    width: 40%;
}
/* Botão estilizado com bordas arredondadas e cores para o estado padrão. */
.button1{
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 70px;
    margin-top: 100px;
    margin-bottom: 320px;
    transition: 0.5s ease;

}
/* aumenta o tamanho e troca a cor ao passar o cursor */
.button1:hover{
    transform: scale(1.2);
    background-color: #0056b3;
}
/* Estilo do botão ao passar o mouse, com alteração da cor de fundo. */
.PQDOAR{
    padding-bottom: 200px;
    width: 100%;
    height: auto;
    background-color: #000E17;

}
/* Seção "Por que doar?" com fundo escuro e espaçamento inferior. */
.sectionCards{
    display: flex;
}
/* Contêiner que organiza os cartões lado a lado. */
.card{
    color: white;
    border-radius: 20px;
    margin-top: 130px;
    margin-left: 30px;
    background-color: #212D34;
    height: auto;
    width: 350px;
    transition: 0.5s ease;
}
/* aumenta o tamanho e troca a cor ao passar o cursor */
.card:hover{
    background-color: #ffffff44;
    transform: scale(1.1);
}
.imgCard{
    width: 100%;
}
/* Estilo do título dentro de cada cartão, com margens definidas. */
.titCard{
    margin: 15px;

}
/* Estilo do texto dentro de cada cartão, com margens definidas. */
.txtCard{
    margin: 15px;

}
/* Seção "Onde doar?" com alinhamento centralizado e fundo escuro. */
.divOndeDoar{
    background-color: #000E17;
    text-align: center;
    width: 100%;
    height: auto;
}
/* Estilo do texto explicativo na seção "Onde doar?". */
.h1OndeDoar{
    color: white;
    padding-top: 200px;
    font-size: 80px;

}
/* Estilo do texto explicativo na seção "Onde doar?". */
.txtOndeDoar{
    color: white;
    padding: 90px;
    font-size: 20px;
}
/* Div com imagem de fundo para a seção de instituições. */
.divImageBackInstituicao{
    width: 100%;
    height: 700px;
    background-image: url(frontend/images/altosurubi1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
/* Sobreposição escura semitransparente na seção de instituições. */
.divBackOpacidade{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.562);
    
}
/* Estilo do título da seção "Instituição", com tamanho médio e espaçamento. */
.titleInstituicao{
    color: white;
    font-size: 50px;
    padding-top: 120px;
    padding-left: 140px;
}
/* Estilo do texto explicativo na seção "Instituição". */
.txtInstituicao{
    color: white;
    padding-top: 50px;
    padding-left: 140px;
    width: 400px;


}
/* Botão estilizado na seção "Instituição", com bordas arredondadas. */
.buttonInstituicao{
    background-color: #ffffff;
    border: none;
    border-radius: 50px;
    padding: 15px 50px;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 130px;
    transition: 0.5s ease;

}
.buttonInstituicao:hover{
    transform: scale(1.2);
}

/* Ajustando responsividade para mobile*/
@media  (max-width: 768px) {

    .header1{
        margin-top: 0;
        padding-top: 0;
        display: flex;
        width: 100%;
        justify-content: center;
        position: fixed;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.329);
        backdrop-filter: blur(5px);
        

    }

    .itemMenu{
        margin: 5px 10px 10px 5px;
        cursor: pointer;
        font-size: 12px;
        list-style-type: none;
    }

    .tit{
        padding-left: 30px;
        padding-top: 150px;
        color: white;
        font-size: 40px;
        display: flex;
        position: relative;
        align-items: center;
    }

    .txt{
        font-size: 13px;
        padding-top: 40px;
        padding-left: 40px;
        color: white;
        width: 60%;
    }

    .button1{
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 50px;
        padding: 15px 30px;
        font-size: 16px;
        cursor: pointer;
        margin-left: 40px;
        margin-top: 80px;
        margin-bottom: 320px; 
    }

    .card{
        
        color: white;
        border-radius: 20px;
        margin-top: 30px;
        margin-left: 10px;
        margin-right: 25px;
        background-color: #212D34;
        height: auto;
        width: 350px;
    }

    .sectionCards{
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }

    .h1OndeDoar{
        color: white;
        padding-top: 200px;
        font-size: 50px;
    
    }

    .txtOndeDoar{
        color: white;
        padding: 90px;
        font-size: 17px;
    }

    .titleInstituicao{
        color: white;
        font-size: 40px;
        padding-top: 120px;
        padding-left: 40px;
    }

    .txtInstituicao{
        color: white;
        padding-top: 50px;
        padding-left: 40px;
        width: 60%;
        font-size: 15px;
    
    
    }

    .buttonInstituicao{
        background-color: #ffffff;
        border: none;
        border-radius: 50px;
        padding: 15px 50px;
        cursor: pointer;
        margin-top: 50px;
        margin-left: 40px;
    }
 
}
/* Ajustando responsividade para tablet */
@media  (max-width: 1024px){

    .sectionCards{
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card{
        
        color: white;
        border-radius: 20px;
        margin-top: 50px;
        margin-left: 30px;
        background-color: #212D34;
        height: auto;
        width: 600px;
    }

    .txtCard{
        font-size: 15px;

    }

}
    