@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: auto;
}
.menu{
    width: 100%;
    color: white;
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;

}
/* Estilo de cada item do menu, com espaçamento e tamanho da fonte. */
.itemMenu{
    margin: 15px 30px 15px 30px;
    cursor: pointer;
    font-size: 20px;
    list-style-type: none;
    transition: 0.5s ease;

}
.itemMenu::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5%;
    width: 0;
    height: 1px;
    background-color: #007bff;
    transition: 0.3s ease;
}
.itemMenu:hover::after{
    width: 100%;
}
/* aumenta o tamanho e troca a cor ao passar o cursor */
.itemMenu:hover{
    color: #007bff;
    transform: scale(1.2);
}

/* Remove o estilo padrão dos links e define o cursor como clicável. */
a{
    all: unset;
    cursor: pointer;
}
.buttonDoeAgoraHeader{
    border-radius: 20px;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 7px;
    margin-right: 25px;
    padding: 8px;
    background-color: #003e80;
    color: white;
    border: none;
    font-size: 15px;
    transition: 0.5s ease;
}
.buttonDoeAgoraHeader:hover{
    background-color: #00B3E3;
    transform: scale(1.1);

}
/* Cabeçalho fixo no topo da página com fundo transparente. */
.header1{
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;
    height: 50px;
    background-color: #3330ff23;
    backdrop-filter: blur(5px);
    z-index: 1000;
    
}

.article-instituicao{
    display: flex;
    background-color: black;
    width: 100%;
    height: 80vh;
}
.div-img-iframe{
    width: 50%;
    background-color: #003e80;
    height: 100%;

}
.img-instituicao{

}
.iframe-instituicao{

}
.div-info-instituicao{
    width: 50%;
    background-color: #3e8000;
    height: 100%;
    text-align: center;

}

.tit-instituicao{

}

.txt-instituicao{

}