@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: white;
    width: 100%;
    height: auto;
}
.menu{
    width: 100%;
    color: white;
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;

}
/* Estilo de cada item do menu, com espaçamento e tamanho da fonte. */
.itemMenu{
    margin: 15px 30px 15px 30px;
    cursor: pointer;
    font-size: 20px;
    list-style-type: none;
    transition: 0.5s ease;

}
.itemMenu::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5%;
    width: 0;
    height: 1px;
    background-color: #007bff;
    transition: 0.3s ease;
}
.itemMenu:hover::after{
    width: 100%;
}
/* aumenta o tamanho e troca a cor ao passar o cursor */
.itemMenu:hover{
    color: #007bff;
    transform: scale(1.2);
}

/* Remove o estilo padrão dos links e define o cursor como clicável. */
a{
    all: unset;
    cursor: pointer;
}


.buttonDoeAgoraHeader{
    border-radius: 20px;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 3px;
    margin-right: 25px;
    padding: 8px;
    background-color: #003e80;
    color: white;
    border: none;
    font-size: 12px;
    transition: 0.5s ease;
}
.buttonDoeAgoraHeader:hover{
    background-color: #00B3E3;
    transform: scale(1.1);

}
/* Cabeçalho fixo no topo da página com fundo transparente. */
.header1{
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;
    height: 40px;
    background-color: #00000023;
    backdrop-filter: blur(5px);
    z-index: 1000;
    
}

.article-instituicao{
    background-image: url(/frontend/public/images/circle_blue.png);
     background-size: cover;
    width: 100%;
    height: 120vh;
    max-height: 100vh;
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    
}
.TxtSlide img{
    width: 340px;
    height: 150px;
    animation: suave-moviment 10s infinite;
}
.division{
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-img-instituicao img{
    width: 500px;
    height: auto;
    animation: shadow-drop-bl 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    transition: 0.5s ease;

}
.div-img-instituicao img:hover{
    transform: scale(1.1);

}
.div-iframe-google-instituicao iframe{
    width: 500px;
    height: 300px;
    border: none;
    animation: shadow-drop-bl 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes shadow-drop-bl {
    0% {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      box-shadow: -12px 12px 20px -12px rgba(0, 0, 0, 0.719);
    }
  }
  

.div-info-instituicao{
    width: 30%;
    height: 100vh;
    display: flex;
    text-align: left;
    flex-direction: column;
    margin-left: 35px;
    margin-top: 20px;
    

    
}
.div-info-instituicao h1{
    font-size: 50px;
    text-align: center;
    margin: 20px;
}
.icons-oq-doar{
    display: flex;
    width: auto;
    height: auto;
}
.icon{
    margin: 10px;
    width: 48px;
    height: 48px;
}
.info-slide{
    width: 25%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.img-box-donate{
    width: 280px;
    height: 180px;
    animation: suave-moviment 15s infinite;
    transition: 1s ease;
}

.div-button-instituicao{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.btn-doarAgora-instituicao{
    border-style: none;
    background-color: #00B3E3;
    padding: 15px;
    border-radius: 20px;
    transition: 1s;
    font-size: 15px;
    cursor: pointer;
}
.btn-doarAgora-instituicao:hover{
    transform: scale(1.1);
    background-color: #007bff;
    color: white;
}
.btn-prox{
    width: 50px;
    height: 50px;
    transform: rotate(90deg);
    margin: 20px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
    filter: invert(100%);
    border-style: none;
}
.tit4{
    font-size: 30px;
    margin: 35px 10px;
}
.division-article{
    width: 100%;
    height: 2px;
    box-shadow: 1px 1px 10px 1px rgb(159, 159, 255);
}

@keyframes suave-moviment {
    0%{
        transform: translateY(none);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(none);
    }
}

@media (max-width:800px){
    .article-instituicao{
        display: grid;
    }
    .div-info-instituicao{
        width: 80%;

    }
    .division{
        width: 100%;
        height: auto;
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .div-img-instituicao img{
        width: 450px;
        margin-top: 5rem;
    }

    .div-img-instituicao iframe{
        width: 90%;
    }
    .div-img-instituicao img:hover{
        transform: scale(1);
    }
    .div-iframe-google-instituicao iframe{
        width: 450px;
    }
    .info-slide{
        display: grid;
        width: 90%;
        margin-left: 35px;
    }
    .header1{
        margin-top: 0;
        padding-top: 0;
        display: flex;
        width: 100%;
        justify-content: center;
        position: fixed;
        height: 40px;
        background-color: rgba(0, 0, 0, 0.329);
        backdrop-filter: blur(5px);
        z-index: 1000;
    }
    .itemMenu{
        margin: 5px 10px 10px 5px;
        cursor: pointer;
        font-size: 14px;
        list-style-type: none;
    }
    .buttonDoeAgoraHeader{
        display: none;
    }

    .img-box-donate{
        display: none;
    }




 }

