@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

/* Div principal que define a imagem de fundo para a seção inicial. */
.divfrontimg{
    background-image: url(../images/altosurubi1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1060px;
    width: 100%;
   
}
/* Sobreposição escura semitransparente sobre a imagem de fundo. */
.divbackimg{
    background-color: rgba(0, 0, 0, 0.747);
    height: 1060px;
    width: 100%;

}
/* Menu de navegação principal com itens centralizados horizontalmente. */
.menu{
    width: 100%;
    color: white;
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;

}
/* Estilo de cada item do menu, com espaçamento e tamanho da fonte. */
.itemMenu{
    margin: 15px 30px 15px 30px;
    cursor: pointer;
    font-size: 20px;
    list-style-type: none;
    transition: 0.5s ease;

}
.itemMenu::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5%;
    width: 0;
    height: 1.7px;
    background-color: #007bff;
    transition: 0.3s ease;
}
.itemMenu:hover::after{
    width: 100%;
}
/* aumenta o tamanho e troca a cor ao passar o cursor */

.itemMenu:hover{
    color: #2287f4;
    transform: scale(1.01);
}

/* Remove o estilo padrão dos links e define o cursor como clicável. */
a{
    all: unset;
    cursor: pointer;
}
.buttonDoeAgoraHeader{
    border-radius: 20px;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 7px;
    margin-right: 25px;
    padding: 8px;
    background-color: #003e80;
    color: white;
    border: none;
    font-size: 15px;
    transition: 0.5s ease;
}
.buttonDoeAgoraHeader:hover{
    background-color: #16219e;
    transform: scale(1.03);

}
/* Cabeçalho fixo no topo da página com fundo transparente. */
.header1{
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;
    height: 50px;
    background-color: #3330ff23;
    backdrop-filter: blur(5px);
    z-index: 1000;
    

}
.logoResendeAcao{
    width: 200px;
    height: 240px;
    padding-left: 23em;
    padding-top: 5rem;

}
/* Títulos grandes com alinhamento e espaçamento para destaque. */
.tit{
    padding-left: 70px;
    color: rgba(255, 255, 255, 0.847);
    font-size: 70px;
    display: flex;
    position: relative;
    align-items: center;
}
/* Estilo para textos explicativos com espaçamento e largura definidos. */
.txt{
    font-size: 16px;
    padding-top: 40px;
    padding-left: 70px;
    color: white;
    width: 40%;
}
/* Botão estilizado com bordas arredondadas e cores para o estado padrão. */
.button1{
    background-color: #003e80;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 12px 30px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 70px;
    margin-top: 60px;
    margin-bottom: 320px;
    transition: 0.5s ease;

}
/* aumenta o tamanho e troca a cor ao passar o cursor */
.button1:hover{
    transform: scale(1.05);
    background-color: #19056c;
}





.videobackground {
    position: relative;
    width: 100%;
    height: 100vh; 
    
    
}
  
  /* Estilos para o vídeo de fundo */
.videobackground video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    filter: grayscale(100%);
}
  
  /* Estilos para o conteúdo sobre o vídeo */
.divTitleTextMotiv {
    position: relative;
    z-index: 1;
    color: rgba(255, 255, 255, 0.818);
    text-align: center;
    padding: 20px;
    backdrop-filter: blur(2px);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.divTitleTextMotiv h1{
    color: #f6892fd0;
}
  
.titleMotiv{
    font-size: 3em;
    margin-bottom: 20px;
    padding-top: 10rem;

}
.txtMotiv{
    width: 500px;
}


.buttonQueroAjudar{
    padding: 12px;
    border-radius: 20px;
    margin-top: 5rem;
    background-color: #e56139ec;
    transition: 0.5s ease;
    cursor: pointer;
    border: none;
    color: white;
}

.buttonQueroAjudar:hover{
    background-color: #ec4918ec;
    transform: scale(1.05);
}

.articleDadosBrasil{
    width: 100%;
    height: auto;
    background:linear-gradient(black,black,#222222);
    padding-bottom: 5rem;
    

}
.titDadosBrasil{
    color: rgba(255, 255, 255, 0.882);
    font-size: 40px;
    text-align: center;
    

}
.divBackDadosBrasil{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 70px;
    flex-wrap: wrap;
    height: auto;

}
.divDadosBrasil{ 
    width: 400px;
    height: 400px;
    background-image: url(..//icons/map.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-left: -80px;
    transition: 1s ease;
    margin-top: 5rem;

}
.Dados1{ filter: grayscale(25%);}
.Dados2{ filter: grayscale(50%);}
.Dados3{ filter: grayscale(75%);}
.Dados4{ filter: grayscale(100%);}

.divDadosBrasil:hover{
    transform: translateY(-10%);
    z-index: 10;
}

.titDadosBrasil{
    color: rgba(255, 255, 255, 0.856);
    font-size: 40px;
    padding-top: 5.7rem;


}
.txtDadosBrasil{
    color: rgba(255, 255, 255, 0.897);
    font-size: 17px;
    width: 200px;
    padding-left: 9rem;
    

}
.txtafterDados{
    color: #f9f9f9;
    width: 300px;
    padding-left: 40px;
}
.txtdados1{
    padding-top: 180px;

}
.txtdados2{
    padding-top: 180px;

}
.txtdados3{
    padding-top: 158px;

}
.txtdados4{
    padding-top: 180px;

}


/* Estilo do botão ao passar o mouse, com alteração da cor de fundo. */
.PQDOAR{
    padding-bottom: 200px;
    width: 100%;
    height: auto;
    background:linear-gradient(#222222,#003e80, #ffffff);

}
.titPQDOAR{
    padding-top: 200px;
    font-size: 55px;
}
/* Seção "Por que doar?" com fundo escuro e espaçamento inferior. */
.sectionCards{
    display: flex;
    width: 100%;
    justify-content: center;
}
/* Contêiner que organiza os cartões lado a lado. */
.card{
    color: #ffffffe7;
    border-radius: 20px;
    margin-top: 130px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #212D34;
    height: auto;
    width: 320px;
    transition: 0.5s ease;
}
/* aumenta o tamanho e troca a cor ao passar o cursor */

.imgCard{
    width: 100%;
}
/* Estilo do título dentro de cada cartão, com margens definidas. */
.titCard{
    margin: 15px;

}
/* Estilo do texto dentro de cada cartão, com margens definidas. */
.txtCard{
    margin: 15px;

}

.divLinhasobOndeDoar{
    box-shadow: 0px 0px 110px 20px #00B3E3;
    background-color: #8f8f8f;
    width: 100%;
    height: 2px;
}
/* Seção "Onde doar?" com alinhamento centralizado e fundo escuro. */
.divOndeDoar{
    background-color: #000e17;
    text-align: center;
    width: 100%;
    height: auto;
}
/* Estilo do texto explicativo na seção "Onde doar?". */
.h1OndeDoar{
    color: #ffffff;
    padding-top: 200px;
    font-size: 60px;

}
/* Estilo do texto explicativo na seção "Onde doar?". */
.txtOndeDoar{
    color: #00B3E3;
    padding: 40px;
    font-size: 20px;
    margin-bottom: 3rem;
}

.articleOqueDoar{
    background-color: white;
}

.DivsubTitOqueDoar{
   
    color: #00B3E3;
    text-align: center;
    padding-top: 30px;

}
.TitOqueDoar{
    color: #00B3E3;
    font-size: 40px;
    padding-top: 50px;

}
.txtOqueDoar{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 80px;
    padding-right:80px;

}



.sectionOqDoar{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.divOptionOQdoar{
    margin: 15px;
    background-color: transparent;
    height: auto;
    width: 200px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
}
.imgOqueDoar{
    padding-left: 65px;
    padding-bottom: 20px;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
    
}
.imgOqueDoar{
    transform: scale(1.1);
}

.subtitOptionOqDoar{
    font-size: 15px;
    color: #003e80;
    transition: 0.5s ease;

}
.subtitOptionOqDoar:hover{
   color: #00B3E3;
    transform: scale(1.2);

}
.divPaiOndeDoarInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}
.divOndeDoarInfo{
    width: 300px;
    height: auto;
    margin: 15px;
    border-radius: 20px;
    border: 1px solid rgb(129, 206, 247);
}
.titinstrucoes{
    color: white;
    text-align: center;
    font-size: 30px;
    padding-bottom: 30px;
}
.titledivInstrucoes{
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: white;
}
.txtInstrucoes{
    margin: 2rem;
    color: rgba(255, 255, 255, 0.744);
}
.txtOptionOqDoar{
    color: #003e80;
    padding-top: 20px;
    font-size: 13px;

}
.divTitleGifOndeDoar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgGifInterrogacao{
    width: 120px;
    height: 100px;
}







.divcolorBackInstituicao{
    background-color: #000E17;
    width: 100%;
    height: auto;
}
/* Div com imagem de fundo para a seção de instituições. */
.divImageBackInstituicao{
    width: 80%;
    display: flex;
    height: 700px;
    margin: 0 auto;
    border: solid 1px white;
    overflow: hidden;
    object-fit: cover;

        & input{ display: none;}
}
.instituicoesSlides{
    width: 100%;
    position: relative;
    transition: 2s ease;
    
}
.instituicoesSlides img{
        
        width: auto;
        height: 700px;

}
.manualNavigation{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.8s ease;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .slideFirst{
    margin-left: 0;
}
#radio2:checked ~ .slideFirst{
    margin-left: -100%;
}
#radio3:checked ~ .slideFirst{
    margin-left: -200%;
}
#radio4:checked ~ .slideFirst{
    margin-left: -300%;
}
#radio5:checked ~ .slideFirst{
    margin-left: -400%;
}

.navigationInstituicao{
    position: absolute;
    width: 100%;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}
.navigationInstituicao div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigationInstituicao .btnNavigation1{
    background-color: white;
}
#radio2:checked ~ .navigationInstituicao .btnNavigation2{
    background-color: white;
}
#radio3:checked ~ .navigationInstituicao .btnNavigation3{
    background-color: white;
}
#radio4:checked ~ .navigationInstituicao .btnNavigation4{
    background-color: white;
}
#radio5:checked ~ .navigationInstituicao .btnNavigation5{
    background-color: white;
}

/* Estilo do título da seção "Instituição", com tamanho médio e espaçamento. */
.titleInstituicao{
    color: white;
    font-size: 50px;
    padding-top: 0px;
    padding-left: 0px;
    margin: 0;
    position: absolute;
    z-index: 10;
}
/* Estilo do texto explicativo na seção "Instituição". */
.txtInstituicao{
    color: white;
    padding-top: 50px;
    padding-left: 140px;
    width: 400px;
    position: absolute;
    z-index: 1;


}
/* Botão estilizado na seção "Instituição", com bordas arredondadas. */
.buttonInstituicao{
    background-color: #ffffff;
    border: none;
    border-radius: 50px;
    padding: 15px 50px;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 130px;
    transition: 0.5s ease;

}
.buttonInstituicao:hover{
    transform: scale(1.2);
}










.divCompartilhamento{
    display: grid;
    background-color: #000E17;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    filter: grayscale(0%);  
    align-items: center;
    justify-content: center;
    
    

}

.h1compartilhamento{
    font-size: 40px;
    text-align: center;
    margin-bottom: 1rem;
}
.imgresponsividade{
    width: 800px;
    height: 430px;
    background-image: url(../images/imgdesktopmobile\ .png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
    
    
    
}

.diviimgetitcompartilhamento{
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.txtCompartilhamento{
    padding-left: 10rem;
    padding-right:10rem;
    padding-top: 2rem;
    color: rgba(255, 255, 255, 0.653);
}

/* Estilo para a seção de integrantes */
.sectionIntegrantes{
    background: linear-gradient(#000E17,#f9f9f9,#00B3E3);
    width: 100%;
    height: auto;
    text-align: center;
    
    justify-content: center;
    padding-bottom: 50px;
}
/* Estilo para o título dentro da seção de integrantes */
.h2Integrantes{
    padding-top: 100px;
    color: #ffffff;
    font-size: 35px;
}
/* Contêiner para os artigos dos integrantes */
.ArticleIntegrantes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
/* Estilo para cada cartão individual de integrante */
.divIntegrante{
    display: flex;
    flex-grow: 1;
    flex-basis: 200;
    background-color: #000e17bf;
    border-radius: 20px;
    margin-top: 12rem;
    margin-left: 20px;
    margin-right: 20px;
    width: 280px;
    height: 300px;
    justify-content: center;
    
    box-sizing: border-box;
    box-shadow: 1px 1px 20px 1px #000E17;
    
    
}
/* Estilo para a imagem do integrante */
.imgIntegrante{
    position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    box-shadow: 1px 1px 15px 3px rgb(0, 0, 0);
    transform: translateY(-50%);
    transition: 1s ease;
    
    
}
.integrante1{
    background-image: url(../images/imgIntegrantes/gilianphoto.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.integrante2{
    background-image: url(../images/imgIntegrantes/faelphoto.jpg);
    background-repeat: no-repeat;
    background-size: cover;


}
.integrante3{
    background-image: url(../images/imgIntegrantes/photoitalo.jpg);
    background-repeat: no-repeat;
    background-size: cover;


}
.integrante4{
    background-image: url(../images/imgIntegrantes/samuelphoto.jpg);
    background-repeat: no-repeat;
    background-size: cover;


}
.integrante5{
    background-image: url(../images/imgIntegrantes/felipe_photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;


}
/* Contêiner para o texto e título do integrante */
.divTitleTextIntegrante{
    text-align: center;
    height: auto;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    
    
}
/* Estilo para o nome do integrante */
.NomeIntegrante{
    padding-top: 10px;
    color: #f9f9f9;
    font-size: 25px;
    transition: 1s;
}
.NomeIntegrante:hover{
    transform: scale(1.02);
}
/* Estilo para o texto descritivo do integrante */
.txtIntegrante{
    color: #007bff;
    margin: 5px;
    font-size: 15px;
}
/* Contêiner para os ícones de contato */
.divInconsContatosIntegrantes{
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: center;
    
    
}
/* Estilo para os ícones dos integrantes */
.iconsIntegrantes{
    cursor: pointer;
    margin: 10px;
    width: 30px;
    height: 30px;
    opacity: 0.8;
    transition: 0.5s ease;
}
.iconsIntegrantes:hover{
    transform: scale(1.2);

}







.divLinhasobFooter{
    background-color: rgba(255, 255, 255, 0.279);
    width: 90%;
    margin-top: 7rem;
    height: 2px;
    box-shadow: 5px 1px 5px 1px rgba(255, 255, 255, 0.4);
    margin-left: 5rem;
    
}
.H2agradecimento{
    color: white;
    font-size: 20px;
    padding-top: 5rem;
    text-align: center;
    margin: 1rem;

}
.logosobfooter{
    width: 200px;
    height: 250px;
}
.divBackagradecimento{
    width: 20%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.AbaFooter{
    padding-top: 2rem;
    display: flex;
    background: linear-gradient(#00B3E3,#212D34);
    width: 100%;
    height: auto;
    color: rgba(255, 255, 255, 0.667);
}


.divfooterMenu{
    border: 1px solid rgba(255, 255, 255, 0);
    width: 300px;
    padding-left: 40px;
    
}

.h5Footer{
    padding: 50px 50px 30px 50px;
    transition: 0.5s ease;
    cursor: pointer;
}
.h5Footer:hover{
    color: white;
}

.footerUL{
    list-style-type: none;
    display: grid;
    padding: 50px 50px 50px 50px;
}

.itemFooterMenu{
    margin-top: 15px;
    transition: 0.5s ease;
    
}
.itemFooterMenu:hover{
    color: #00B3E3;
    transform: scale(1.1);
}

.divfooterContatosIntegrantes{
    width: 300px;
    border: 1px solid rgba(255, 255, 255, 0);
    

}

.footerULIntegrantes{
    list-style-type: none;
    display: grid;
    padding: 30px 50px 50px 50px;

}
.itemFooterIntegrantes{
    margin-top: 15px;
    padding-top: 20px;
    transition: 0.5s ease;

}
.itemFooterIntegrantes:hover{
    color: #00B3E3;
    transform: scale(1.1);
}

.divfooterMapaSite{
    border: 1px solid rgba(255, 255, 255, 0);
    width: 300px;
    
}
.h5Mapasite{
    padding: 50px 50px 50px 50px;
    transition: 0.5s ease;

}
.h5Mapasite:hover{
    color: white;
    
}

.footerULMapaSite{
    list-style-type: none;
    display: grid;
    padding: 30px 50px 50px 50px;

}
.itemFooterMapaSite{
    margin-top: 15px;
    transition: 0.5s ease;

}

.itemFooterMapaSite:hover{
    color: #00B3E3;
    transform: scale(1.1);
}

.divfooterDesfechoProjeto{
    border: 1px solid rgba(255, 255, 255, 0);
    width: 35%;
}
.h5DesfechoProjeto{
    padding: 50px 50px 50px 50px;
}
.txtDesfecho{
    padding-left: 50px;
    padding-right: 30px;
}
.Fdireitosreservados{
    background-color: #212D34;
    height: 40px;
    width: 100%;
    text-align: center;
    padding-top: 12px;
    color: white;
}
.divgifonda{
    width: 100%;
    height: 50px;
}
.imgGIFonda{
    width: 100%;
    height: 150px;
}
.h1Instituicao{
    background-color: #000E17;
    color: white;
    text-align: center;
    padding-top: 7rem;
    padding-bottom: 1rem;
}







.divback-ContSlides{
    background-color: #000E17;
    width: 100%;
    height: auto;
    display: grid;
    transition: 1s ease;
    
    
    
}

.ContSlides {
    width: 100%;
    height: 800px;
    overflow: hidden;
    transition: 1s ease;
    
    
    
}

.slide {
    display: none;
    padding: 20px;
    transition: 1s ease;
    
}
.slide-1{
    height: 100%;
    background: rgba(0, 0, 0, 0.5) url(../images/Fachada-Santa-Casa-3-Carina-Rocha.jpg);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
   
    
    
}
.slide-2{
    height: 100%;
    background: rgba(0, 0, 0, 0.5) url();
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
 
    
    
}
.slide-3{
    height: 100%;
    background: rgba(0, 0, 0, 0.5) url(../images/fototeste1.jpg);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
   
    
    
}
.slide-4{
    height: 100%;
    background: rgba(0, 0, 0, 0.5) url(../images/fototeste1.jpg);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
   
   
    
}

.slide-5{
    height: 100%;
    background: rgba(0, 0, 0, 0.5) url(../images/fototeste1.jpg);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
   
    
    
}
.slide.active {
    display: block;
    transition: 1s ease;
}

.TitSlide{
    width: 100%;
    font-size: 40px;
    padding-left: 7rem;
    padding-top: 3rem;
    z-index: 2;
    color: white;
    
}

.TxtSlide {
    width: 30%;
    font-size: 15px;
    padding-left: 7rem;
    padding-top: 1rem;
    padding-bottom: 40px;
    color: white;
    z-index: 2;
}
.TxtSlide a{
    color:#00B3E3;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    padding: 20px 150px;
    z-index: 2;
    background-color: #000E17;
    
}

.navbutton {
    height: 80px;
    width: 80px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background: #00B3E3;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease;
    z-index: 2;
    transform: translateY(-250%);
    
    
}

.navbutton:hover {
    background: #0056b3;
}

.navbutton:disabled {
    background: #ccc;
    cursor: not-allowed;
}
.btn-left-icon{
    transform: scaleX(-1);
}
.div-bttn-saibamais-instituicao{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #000E17;
}
.tit-saibamais{
    font-size: 25px;
    background-color: #000E17;
    color: white;

}
.bttn-saibamais-instituicao{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    color: white;
    background-color: #003e80;
    cursor: pointer;
    transition: 1s ease;
    border: none;
    margin-top: 50px;
    margin-bottom: 7rem;
}
.bttn-saibamais-instituicao:hover{
    background-color: #27179a;
}



/* Ajustando responsividade para mobile*/
@media  (max-width: 790px) {
    
    .buttonDoeAgoraHeader{
        all: unset;
        font-size: 0;
    }
    .divfrontimg .divbackimg img{
        height: auto;
    }

    .header1{
        margin-top: 0;
        padding-top: 0;
        display: flex;
        width: 100%;
        justify-content: center;
        position: fixed;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.329);
        backdrop-filter: blur(5px);
        z-index: 1000;
        

    }

    .itemMenu{
        margin: 5px 10px 10px 5px;
        cursor: pointer;
        font-size: 12px;
        list-style-type: none;
    }

    .tit{
        padding-left: 30px;
        padding-top: 50px;
        color: white;
        font-size: 40px;
        display: flex;
        position: relative;
        align-items: center;
    }

    .txt{
        font-size: 13px;
        padding-top: 40px;
        padding-left: 40px;
        color: white;
        width: 60%;
    }

    .button1{
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 50px;
        padding: 15px 30px;
        font-size: 16px;
        cursor: pointer;
        margin-left: 40px;
        margin-top: 80px;
        margin-bottom: 320px; 
        transform: scale(0.8);
        
    }
    .button1:hover{
        transform: scale(0.9);

    }

    .card{
        
        color: white;
        border-radius: 20px;
        margin-top: 30px;
        margin-left: 10px;
        margin-right: 25px;
        background-color: #212D34;
        height: auto;
        width: 350px;
    }

    .sectionCards{
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }

    .h1OndeDoar{
        color: white;
        padding-top: 200px;
        font-size: 50px;
    
    }

    .txtOndeDoar{
        color: white;
        padding: 90px;
        font-size: 17px;
    }
    .divcolorBackInstituicao{
        padding: 0;
        margin: 0;
        
    }
    .divImageBackInstituicao{
        height: auto;
        width: 100%;
        padding: 0;
        margin: 0;
        border-radius: 0;
        
    }
    .divBackOpacidade{
        border-radius: 0;

    }

    .titleInstituicao{
        color: white;
        font-size: 35px;
        padding-top: 120px;
        padding-left: 40px;
    }

    .txtInstituicao{
        color: white;
        padding-top: 50px;
        padding-left: 40px;
        width: 60%;
        font-size: 12px;
    
    
    }

    .buttonInstituicao{
       width: auto;
       height: auto;
       transform: scale(0.8);
       margin-left: 25px;
       margin-bottom: 20px;
    }
    .buttonInstituicao:hover{
        transform: scale(0.9);
    }

    .imgIntegrante{
        width: 170px;
        height: 170px;

    }
    .NomeIntegrante{
        font-size: 20px;
    }
   
    .txtIntegrante{
        padding:0;
        margin: 0;
        font-size: 10px;
    }
    .divIntegrante{
        margin-top:110px;
        width: 350px;
        height: 300px;
    }
    .sectionIntegrantes{
        height: auto;
        
    }
    .ArticleIntegrantes{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
        
    }
    .buttonQueroAjudar{
        padding: 0;
        margin-top: 25px;
        padding: 12px;
        
    
    }
    .articleDadosBrasil{
        height: auto;
    
        
    
    }
    .divBackDadosBrasil{
        flex-wrap: wrap;
        height: auto;
    
    }
    .divDadosBrasil{ 
        text-align: center;
        width: 300px;
        height: 300px;
        padding: 0;
        
        margin-top: 2rem;
        margin-bottom: 7rem;
      
    }
    
    .titDadosBrasil{
        font-size: 20px;
        padding: 0;
        padding-top: 50px;
       

     
    }
    .txtDadosBrasil{
        font-size: 15px;
        padding-left: 45px;
        margin: 0;
     

    }
    

    .sectionOqDoar{
        flex-wrap: wrap;
    }
    .divLinhasobFooter{
        width: 100%;
        padding: 0;
        margin-top: 7rem;
        margin-left: 0px;
       
        
    }
    
    
    .h5Footer{
        font-size: 12px;
        padding: 0;
        margin: 0px;
        margin-left: 7px;
    }
   
    
    .footerUL{
        font-size: 12px;
        padding: 0;
        margin-top: 15px;
        
    }
    
    .itemFooterMenu{
        font-size: 12px;
        padding: 0;
        margin: 5px;
        
    }
    
    .divfooterContatosIntegrantes{
        font-size: 12px;
        padding: 0;
        margin: 0;
      
        
    }
    
    .footerULIntegrantes{
        font-size: 12px;
        padding: 0;
        margin: 0;
       
    
    }
    .itemFooterIntegrantes{
        font-size: 12px;
        padding: 0;
        margin: 5px;
       
    
    }
        
    
    .divfooterMapaSite{
        font-size: 12px;
        padding: 0;
        margin: 0;
        
        
    }
    .h5Mapasite{
        font-size: 12px;
        padding: 0;
        margin-left: 7px;
        
    
    }
  
    .footerULMapaSite{
        font-size: 12px;
        padding: 0;
        margin: 15px;
       
    
    }
    .itemFooterMapaSite{
        font-size: 12px;
        padding-top: 10px;
        margin: 0px;
        
    
    }
   
    
    .h5DesfechoProjeto{
        font-size: 0px;
        padding: 0;
        margin: 0;
        
    }
    .txtDesfecho{
        font-size: 0px;
        padding: 0;
        margin: 0;
        
    }
    .Fdireitosreservados{
        font-size: 12px;
        padding-top: 30px;
        margin: 0;
       
    }
    .logoResendeAcao{
        padding-top: 5rem;
        padding-left: 5rem;
        padding-bottom: 0;
        margin: 0;
        width: 150px;
        height: 150px;
    }
    .diviimgetitcompartilhamento{
        padding: 0;
        margin: 0;
        width: auto;
        height: auto;
    }
    .divCompartilhamento{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .h1compartilhamento{
        padding-top: 4rem;
        font-size: 30px;
        padding-bottom: 2rem;
    }
    .imgresponsividade{
        width: 90%;
        height: 180px;
        background-image: url(../images/imgdesktopmobile\ .png);
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 3rem;
    }
    .txtCompartilhamento{
        margin: 0;
        padding: 20px;
    }
    .titleMotiv{
        font-size: 30px;
        margin-bottom: 20px;
        padding-top: 10rem;
    }
      

    .h1compartilhamento{
        font-size: 30px;
    
    }
    .imgresponsividade{
        margin: 0;
        padding-bottom: 40px;
        
        
    }

    .diviimgetitcompartilhamento{
        text-align: center;
        color: white;


    }
    
    .H2agradecimento{
        font-size: 20px;
    }
    .logosobfooter{
        width: 200px;
        height: 200px;
    }
    .h2Integrantes{
        font-size: 30px;
    }
    .divfrontimg{
        padding: 0;
        margin: 0;
    }
    .divbackimg{
        padding: 0;
        margin: 0;
        height: 100%;
    }
    .h2Integrantes{
        font: 5px;
    }
    .txtMotiv{
        width: 90%;
        padding: 15px;
    }
    .imgGifInterrogacao{
        
        transform: scale(0.5);
    }
    .h1OndeDoar{
        font-size: 30px;
    }
    .divcolorBackInstituicao{
        background-color: #000E17;
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    
    .divImageBackInstituicao{
        width: auto;
        height: auto;
        object-fit: cover;
       
    }
    .instituicoesSlides img{
        width: 400px;
        height: 100%;
            
          

    }
    .h1Instituicao{
        font-size: 25px;
    }
    .manual-btn{
        margin-top: 20px;
    }
    .manual-btn:not(:last-child){
        margin-right: 10px;
    }
    
    .divback-ContSlides{
        width: 100%;
        height: auto;
    }
    .ContSlides{
        width: 100%;
        height: 140%;
        
    }
    .navbutton{
        width: 50px;
        height: 60px;
        margin: 15px;
        padding: 10px;
        transform: none;
    }
    .navbutton:nth-child(2){
        position: absolute;
        right: 0;

    }
    .navbutton:nth-child(1){
        position: absolute;
        left: 0;

    }
    
    
    .TitSlide{
        font-size: 25px;
        padding-bottom: 15px;
        padding-left: 0;
        margin: 0;

    }
    .TxtSlide{
        width: 50%;
        font-size: 12px;
        padding: 0;
        margin: 0;

    }
    .tit-saibamais{
        margin-top: 260px;
    }
    .divBackagradecimento{
        display: none;
    }
    
        

    
 
}
/* Ajustando responsividade para tablet */
@media  (min-width:800px) and (max-width: 1280px){

    .sectionCards{
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .buttonDoeAgoraHeader{
        display: none;
    }

    .card{
        
        color: white;
        border-radius: 20px;
        margin-top: 50px;
        margin-left: 30px;
        background-color: #212D34;
        height: auto;
        width: 600px;
    }

    .txtCard{
        font-size: 15px;

    }
    .diviimgetitcompartilhamento{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .imgresponsividade{
        width: 100%;
        height: 425px;
        margin: 0;
        padding: 0;
    }

    .ArticleIntegrantes{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
    }
    .logoResendeAcao{
        padding-left: 18rem;
    }
    .divcolorBackInstituicao{
        background-color: #000E17;
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    
    .divImageBackInstituicao{
        width: auto;
        height: auto;
        object-fit: cover;
       
    }
    .instituicoesSlides img{
        width: auto;
        height: 100%;
            
          

    }


    .navbutton{
        transform: translateY(-180%);

        
    }

    .TitSlide{
        font-size: 35px;
        

    }
    .TxtSlide{
        font-size: 17px;
       

    }
    .divBackagradecimento{
        display: none;
    }
    .divfooterDesfechoProjeto{
        width: 100%;

    }
    
    
    

} 
@media (min-width: 1280px) and (max-width: 1500px){
   

    .diviimgetitcompartilhamento{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .imgresponsividade{
        width: 80%;
        height: 600px;
        

    }
    .divcolorBackInstituicao{
        background-color: #000E17;
        width: auto;
        height: auto;
        object-fit: cover;
        background-color: #000E17;
    }
    
    .divImageBackInstituicao{
        width: auto;
        height: auto;
        object-fit: cover;
       
    }
    .instituicoesSlides img{
        width: 1406px;
        height: 100%;
            
          

    }
    
    .divIntegrante:not(:last-child){
        margin-left: 50px;
    }
    
    

}
    

/* Criação do Pop-up de Login opcional no index 

            EM DESENVOLVIMENTO (PERMANECER COMENTADO), não afetará nada no código.


.popUpFazerLogin {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    background: #000000c2;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.popUpFazerLogin .popUpFazerLoginFilho{
    width: 50%;
    height: 20%;
    border-radius: 1rem;
    position: relative;
    color: #fff;
    border: 1px solid white;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popUpFazerLogin .popUpFazerLoginFilho h1{
    margin-bottom: 0.2rem;
    font-weight: 500;
}

.popUpFazerLogin .popUpFazerLoginFilho .loginButtonAndIcons {
    width: 100%;
    display: flex;
    align-items: center;
    height: auto;
}


.popUpFazerLogin .popUpFazerLoginFilho .loginButtonAndIcons .fazerLoginButton{
    width: 20%;
    height: auto;
    padding: 0.7rem 1rem;
    border-radius: 0.2rem;
    color: #ffffff;
    border: 1px solid white;
    text-align: center;
    margin-right: 1rem;
}

.popUpFazerLogin .popUpFazerLoginFilho .loginButtonAndIcons a{
    display: flex;
    align-items: center;
    justify-content: center;
}
 

.popUpFazerLogin .popUpFazerLoginFilho .loginButtonAndIcons img{
    width: 2.2rem;
    height: auto;
    margin-right: 0.4rem;
}
 
.popUpFazerLogin .popUpFazerLoginFilho .fecharPopUp{
    position: absolute;
    right: 1%;
    top: 2%;
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.popUpFazerLogin .popUpFazerLoginFilho img{
    cursor: pointer;
}

.popUpFazerLogin .popUpFazerLoginFilho span{
    cursor: pointer;
}

*/


.userPicture {
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50rem;
}

.userPicture img{
    border-radius: 50rem;
    width: 2.5rem;
    height: 2.5rem;
}
