<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/all_login.css">
    <title>Resende em Ação - Login</title>
</head>

<body>
    <div class="container" id="container">

        <div class="form-container sign-up">
            

            <form class="loginForm signUpForm">
                <div class="circuloLaranja">
                    <div class="circuloLaranjaPequeno">

                    </div>
                </div>
    
                <h1>Criar Conta</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><img src="../icons/google.color.png" alt=""></a>
                    <a href="#" class="icon"><img src="../icons/facebook.color.png" alt=""></a>
                </div>
                <span>ou use seu e-mail para se registrar</span>
                <div class="inputDiv">
                    <img src="../icons/icons8-usuário-30 (1).png" alt="">
                    <input required type="text" placeholder="Name">
                </div>

                <div class="inputDiv">
                    <img src="../icons/icons8-gmail-logo-50.png" alt="">
                    <input required type="email" placeholder="Email">
                </div>

                <div class="inputDiv">
                    <img src="../icons/icons8-trancar-50.png" alt="">
                    <input required type="password" placeholder="Password">
                </div>

                <div class="alreadyHaveAccountDiv">Já possui uma conta? Entrar </div>

                <button>Cadastrar</button>

                <!--
                <div class="smFormButton">
                      <div class="orangeDiv">

                        </div>
                    <div class="smFormButtonLeft smFormButtonLeft-su">Entrar</div>

                    <div class="smFormButtonRight smFormButtonRight-su" >Cadastrar</div>
                </div>
                -->
            </form>
        </div>
        <div class="form-container sign-in">
        
            <form class="loginForm signInForm">

                <div class="circuloLaranja">
                    <div class="circuloLaranjaPequeno">

                    </div>
                </div>

                <h1>Entrar com</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><img src="../icons/google.color.png" alt=""></a>
                    <a href="#" class="icon"><img src="../icons/facebook.color.png" alt=""></a>
                </div>
                <span>ou use seu e-mail para entrar</span>

                <div class="inputDiv">
                    <img src="../icons/icons8-gmail-logo-50.png" alt="">
                    <input required type="email" placeholder="Email">
                </div>

                <div class="inputDiv">
                    <img src="../icons/icons8-trancar-50.png" alt="">
                    <input required type="password" placeholder="Password">
                </div>

                <div class="dontHaveAccountDiv">Não possui uma conta? Criar conta</div>
                
                <button type="submit">Entrar</button>

                <!--
                <div class="smFormButton">
                    <div class="orangeDiv">

                    </div>
                    <div class="smFormButtonLeft smFormButtonLeft-si">Entrar</div>

                    <div class="smFormButtonRight smFormButtonRight-si">Cadastrar</div>
                </div> -->

            
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Fazer Login</h1>
                    <p>Entre com suas credenciais para acessar</p>
                    <button class="hidden" id="login">Entrar</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Criar Conta</h1>
                    <p>Faça seu registro para ter acessos especiais ao site</p>
                    <button class="hidden" id="register">Cadastrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="wholeLoadingDiv">
        <div class="loading ">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>

    <script src="../js/login.js"></script>
</body>

</html>