<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fazer Login</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>

    <article class="logoArticle">
        <img class="logo" src="/frontend/images/logoResendeAcao.jpg" alt="">
    </article>

    <div class="divBemVindo">

        <h1 class="bemVindoTitle">Bem Vindo!</h1>
        <p class="bemVindoTexto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque error modi sint!</p>

        <div class="bemVindoButtons">

            <button class="bemVindoButton" type="button">
                Login
            </button>
            <button class="bemVindoButton2" type="button">
                Cadastrar
            </button> 
        
        </div>

    </div>
    
</body>
</html>