<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fazer Login</title>
    <link rel="stylesheet" href="../css/login_account.css">
</head>
<body>

    <div class="bolaGrandeDireita">
    </div>

    <div class="bolaMediaEsquerda">
    </div>
    
    <main class="container">

        <div class="loginAndCadastroButton">
            <div class="loginButton">
                Login
            </div>
            <div class="cadastroButton">
                Cadastro
            </div>
        </div>

        <form class="formularioLogin" action="">
            
            <div class="divFormularioLogin">
                <img class="userIcon" src="../icons/icons8-usuário-30 (1).png" alt="">
                <input type="email">
            </div>

            <div class="divFormularioLogin">
                <img class="passwordIcon" src="../icons/icons8-trancar-50.png" alt="">
                <input type="password">
            </div>

            <div class="divFormularioButton">
                Entrar
            </div>

        </form>
    </main>

    <div class="bolaPequenaEsquerda">

    </div>

    <div class="bolaPequenaDireita">

    </div>          
</body>
</html> 